.nav-container
{
   display:flex;
   justify-content:space-around;
   height: 65px;
   width: 100%;
   background-color: rgb(195, 195, 253);
}
.nav-heading
{  
    margin: 5px 3px;
    color:#f4f4f4;
    font-size:2rem;
}
.nav-links
 {
     font-weight: bold;
     font-display: 1.5rem;
     color: #fff;
     display: flex;
     justify-content: space-between;
 }
.nav-home
{
    margin: auto 6px;
    display: flex;
}
.nav-add
{
    margin:  auto 10px;
    display: flex;
}
.nav-links a
{
    text-decoration: none;
    color: #fff;
}